/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 10px;
}
.header__logo {
  width: 45%;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero__gps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0px;
  background: #EAEAEA;
  color: #353535;
}
.hero__gps__icon {
  padding: 0px 10px;
}
.hero__gps p {
  font-size: 17px;
  font-weight: 300;
}

.hero__content {
  padding: 35px 15px;
  background: #F6F6F6;
}

.hero__content__text h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin: 0px 15px;
}

.hero__content__text h2 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  padding: 15px 0px;
}

.hero__content__button {
  text-align: center;
}
.hero__content__button--activ {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px 25px;
  border: 0px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 0 10px #0000002e;
}

.fonction {
  padding: 30px 15px;
}
.fonction h3 {
  font-weight: 700;
  font-size: 24px;
}

.fonction__button {
  display: flex;
  flex-direction: column;
}
.fonction__button__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #F6F6F6;
  padding: 20px 20px;
  margin: 10px 5px;
  border-radius: 25px;
  box-shadow: 0 0 10px #0000002e;
}
.fonction__button__content li {
  padding: 10px 0px;
}
.fonction__button__content__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #9356dc;
  color: white;
  border-radius: 20px;
  margin-left: -30px;
}
.fonction__button__content__icon {
  padding: 0px 15px;
  color: #9356dc;
}
.fonction__button__content h2 {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.resto {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background: #F6F6F6;
}
.resto__titre {
  padding: 15px 0px;
}
.resto__titre h3 {
  font-weight: 700;
  font-size: 24px;
}
.resto__annonce {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  margin: 15px 0px;
  border-radius: 15px;
  box-shadow: 0 0 10px #0000002e;
}
.resto__annonce__img img {
  height: 9rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.resto__annonce__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resto__annonce__content__text {
  padding: 10px 15px;
}
.resto__annonce__content__text h2 {
  font-weight: 600;
  font-size: 16px;
  padding: 2px 0px;
}
.resto__annonce__content__text p {
  font-weight: 200;
  font-size: 15px;
  padding: 2px 0px;
}
.resto__annonce__content__icon {
  padding: 10px 15px;
  font-size: 25px;
  color: #535353;
}

.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
}
.footer__logo {
  width: 100px;
  padding: 10px 0px;
}
.footer li {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  column-gap: 10px;
}

/*# sourceMappingURL=style.css.map */
